*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    background-image:linear-gradient(rgb(229 224 224 / 31%),rgb(23 22 22 / 49%));
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    
}
.logo{
    width: 30px;
    height: 30px;
}
ul li a{
    color: black;
}