*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.library .container{
    background-color: aqua;
}
.library .container .inpuut{
   position: relative;
    
    margin-top: 10px;
}
.library .container #name{
    width: 20vw;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background: transparent;
    margin-top: 24px; 
}
.library .container label{
    position: absolute;
    top: 0px;
    left: 0px;
   padding-top: 17px; 
    pointer-events: none;
    font-size: 1rem;
    transition: 1.5s;
}
.library .container input:focus~label,.library .container input:valid~label{
    top: -10px;
    left: 0px;
    font-size: 0.5rem;
} 